
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environments
.env
.env.*
/frontend/.env
/backend/.env

# Secrets
serviceAccountKey.json
backend/serviceAccountKey.json
frontend/config.js
config.js

# Vercel
.vercel/

# Specific files
end_of_file_check.txt
