# Common ignores
node_modules/
dist/
build/
.env
.env.*
*.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Firebase/Config
frontend/config.js
config.js
backend/serviceAccountKey.json
serviceAccountKey.json

# Vercel
.vercel/

# Specific files
end_of_file_check.txt
.vercel
